<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exculsive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto in saepe voluptate quibusdam. Maiores, debitis, culpa, quos, modi vero consequuntur laborum ducimus rem 
    consectetur numquam at animi error blanditiis ipsa.</p>
</div>