<!DOCTYPE html >
<html>
    <head> </head>
    
    <body>
        <p>You have recieved an email from the DevMatch's contact form, from 
        
        <%= "#{@name }, #{@email}." %></p>
        <p><%= @body %></p>
        
    </body>
</html>
